body{
  
   background-color:rgb(37, 83, 97)
}
 .input{
    margin-bottom:10px;
    padding:8px;
    border:1px solid;
    border-radius: 5px;
    font-size: 14px;
}


.container{
    width: 300px;
    height: 350px;
    background-color:white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;    
    margin-top: 10%;
    box-shadow: black;
    padding-top: 5px;
}
 .container2{
    width: 300px;
    height: 400px;
    background-color:white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;    
    margin-top: 10%;
    padding-top:10px;

 }

.button{
    text-align: center;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border:none;
    padding: 10px;
    cursor:pointer;
    font-size: 16px;
    margin-top: 10px;
    
}
.button:hover {
    background-color: green;
}


  
